@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

body {
    display: flex;
    align-content: center;
    justify-content: center;
    background-image: url('pierre-chatel-innocenti-pxoZSTdAzeU-unsplash.jpg');

}



#calculator {
    display: flex;
    border: silver solid;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 600px;
    min-width: 300px;
    border-radius: 3%;
    background-color: rgba(56, 56, 56, 0.829);

}

/* calculator header */

#calc-header {
    display: flex;
    min-height: 15%;
    min-width: 300px;
}

    /* Left side header */

    #left-side-header {
        display: flex;
        justify-content: center;
        width: 50%;
        height: 100%;
        min-height: 50px;
        flex-direction: column;
        padding-left: 5px;
    }
        #left-side-header > div {
            height: 20%;
            display: flex;
            align-content: flex-end;
            color: rgba(255, 255, 255, 0.849);
            
        }

    #right-side-header {

        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        padding-right: 5px;
    }
        .panel {
            background-color: rgba(8, 8, 8, 0.712);
            height: 50%;
            width: 25%;
            border: black solid 1px;
        }


/* display */

#screen-container {
    width: 100%;
    min-height: 75px;
    border: lightgray 3px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    background-color: rgba(172, 248, 248, 0.507);

}

    #screen-container > div {
        height: 95%;
        width: 95%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 5px 5px;
    }

    #display {
        font-family: Orbitron, sans-serif;
        font-size: 20px;
        margin-right: 10px;

    }

/* buttons */

#button-container {
    padding: 30px 15px 10px 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    min-height: 350px;
}

.operator {
    background-color: orange;
}